# Ignorer le dossier .vscode
.vscode/

# Ignorer les fichiers de configuration Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Ignorer les environnements virtuels
venv/
env/

# Ignorer les fichiers de configuration IDE
.idea/
*.iml

# Ignorer les fichiers de dépendances
node_modules/
dist/
build/

# Ignorer les fichiers de logs et de données
*.log
*.sql
*.sqlite

# Ignorer les fichiers sensibles
.env
*.key
*.cert
# Ignorer tout le dossier .vscode
.vscode/

# Inclure des fichiers spécifiques
!.vscode/launch.json
!.vscode/extensions.json